<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>TO-DO Manager</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body class="p-4">
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2"><%- include('header.ejs') %></div>
    </div>

    <form class="flex justify-center">
      <div class="flex gap-2 py-4 w-2/3">
        <div class="flex-auto w-64">
          <input
            type="text"
            class="border border-gray-300 text-gray-900 text-sm rounded w-full p-2"
            placeholder="What's next?"
            autofocus
            required
          />
        </div>
        <div class="flex-auto w-32">
          <input
            type="date"
            class="border border-gray-300 text-gray-900 text-sm rounded w-full p-2 leading-4"
          />
        </div>
        <div class="flex-none">
          <button
            type="submit"
            class="text-white bg-green-600 hover:bg-green-700 font-medium rounded text-sm px-5 py-2 mr-2 mb-2"
          >
            Add
          </button>
        </div>
      </div>
    </form>

    <div class="mt-2">
      <h5 style="display:inline"><id>Overdue</h5>
      <span style="text-align:right" id='count-overdue' class="bg-gray-200 text-black px-3 py-1 rounded font-medium mr-2 mb-2">1</span>
      <%- include('todos.ejs') %>
      <h5 style="display:inline">Due Today</h5>
      <span style="text-align:right" id='count-due-today' class="bg-gray-200 text-black px-3 py-1 rounded font-medium mr-2 mb-2">2</span>
      <%- include('todos.ejs') %>
      <h5 style="display:inline">Due Later</h5>
      <span style="text-align:right" id='count-due-later' class="bg-gray-200 text-black px-3 py-1 rounded font-medium mr-2 mb-2">3</span>
      <%- include('todos.ejs') %>
    </div>

    <div class="flex justify-center"><%- include('footer.ejs') %></div>
  </body>
</html>
